.accordion-container {
  position: relative;
  width: 100%;
  /* border: 1px solid #0079c1; */
  border-top: none;
  outline: 0;
  cursor: pointer;
}

.accordion-container .article-title {
  display: block;
  position: relative;
  margin: 0;
  padding: 0.625em 0.625em 0.625em 2em;
  /* border-top: 1px solid #0079c1; */
  font-size: 1.25em;
  font-weight: normal;
  color: rgb(39, 39, 39);
  cursor: pointer;
}

.accordion-container .article-title:hover,
.accordion-container .article-title:active,
.accordion-container .content-entry.open .article-title {
  /* background-color: #00aaa7; */
  color: rgb(39, 39, 39);
  font-weight: bold;
}

.accordion-container .article-title:hover i:before,
.accordion-container .article-title:hover i:active,
.accordion-container .content-entry.open i {
  color: white;
}

.accordion-container .content-entry i {
  position: absolute;
  top: 3px;
  left: 12px;
  font-style: normal;
  font-size: 1.625em;
  /* sans-serif; */
  color: #0079c1;
}

/* .accordion-container .content-entry i:before {
  content: "+ ";
} */

/* .accordion-container .content-entry.open i:before {
  content: "- ";
} */

.accordion-content {
  display: none;
  padding-left: 2.3125em;
}
/* This stuff is just for the Codepen demo */

#content {
  width: 100%;
}

.accordion-container,
#description {
  width: 90%;
  margin: 1.875em auto;
}

#description p {
  line-height: 1.5;
}

#description h2 {
  text-align: center;
}

@media all and (min-width: 860px) {
  #content {
    width: 70%;
    margin: 0 auto;
  }
}

footer {
  height: 80px;
}
